@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #4daf54;
    --secondary-color: #272d40;
}

body{
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
}

.card{
    background-color: var(--secondary-color);
    width: 320px;
    height: 400px;
    margin: 120px auto;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    color: white;
}
.card-heart, .card-cart{
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.card-cart{
    left: unset;
    right: 20px;
}
.card-image{
    width: 90%;
    transition: 0.5s;
}
.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-tittle, .card-price{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins';
    text-align: center;
}
.card-price{
    color: white;
    transition: 0.5s;
}
.card-tittle{
    color: var(--primary-color);
    transition: 0.5s;
    
}
.card-size, .card-color{
    font-size: 15pxpx;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.card-size span{
    padding: 1px 8px;
    background-color: #dadada;
    color: black;
    margin: 0 5px;
    border-radius: 5px;
}
.card-color span{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.card-color-black{
    background-color: black;
}
.card-color-white{
    background-color: white;
}
.card-color-green{
    background-color: green;
}
.card-action button{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    font-family: 'Poppins';
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.card-action button:hover{
    transform: scale(0.9);
}

.card:hover .card-image{
    transform: translateY(-90px) rotate(-20deg);
}
.card:hover .card-tittle, .card:hover .card-price{
    transform: translate(-43px, -70px)
}
.card:hover .card-price{
    transform: translate(-115px, -70px);
}

.card-size{
    margin-top: 200px;
}
.card-action, .card-color, .card-size{
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.1s;
}

.card:hover .card-size{
    visibility: visible;
    opacity: 100;
    margin-top: -15px;
}

.card:hover .card-color{
    visibility: visible;
    opacity: 100;
}
.card:hover .card-action{
    visibility: visible;
    opacity: 100;
}
